{% extends "base.html" %}

{% block title %}Create Company{% endblock %}

{% block content %}
<h2>Create Company</h2>
<form method="POST" action="/create_company">
    <label>Ticker</label><br>
    <input type="text" name="Ticker" required><br><br>

    <label>Company Name</label><br>
    <input type="text" name="Company_Name" required><br><br>

    <label>Industry</label><br>
    <input type="text" name="Industry" required><br><br>

    <button type="submit">Create</button>
</form>
<a href="/" class="button-link">← Back to Company List</a>
{% endblock %}


